.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main span {
  border-radius: 1rem;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  min-width: 300px;
  padding: 3rem;
  max-height: 90%;
}
